@import url(https://fonts.googleapis.com/css?family=Montserrat:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic);

html {}
body {
  font-size: 15pt;
  letter-spacing: 1pt;
  font-weight: 300;
  color:#fff;
  font-family: 'Lato','Montserrat','Helvetica Neue','Helvetica', sans-serif;
  background: rgba(25,47,82,1);
  
  /*background: -moz-linear-gradient(top, rgba(25,47,82,1) 0%, rgba(24,43,73,1) 41%, rgba(20,35,57,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(25,47,82,1)), color-stop(41%, rgba(24,43,73,1)), color-stop(100%, rgba(20,35,57,1)));
  background: -webkit-linear-gradient(top, rgba(25,47,82,1) 0%, rgba(24,43,73,1) 41%, rgba(20,35,57,1) 100%);
  background: -o-linear-gradient(top, rgba(25,47,82,1) 0%, rgba(24,43,73,1) 41%, rgba(20,35,57,1) 100%);
  background: -ms-linear-gradient(top, rgba(25,47,82,1) 0%, rgba(24,43,73,1) 41%, rgba(20,35,57,1) 100%);
  background: linear-gradient(to bottom, rgba(25,47,82,1) 0%, rgba(24,43,73,1) 41%, rgba(20,35,57,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#192f52', endColorstr='#142339', GradientType=0 );*/
}
div, .panel, .panel-body {
  background-color: transparent;
  /*background: rgba(0,0,0,1);/*/  
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
  margin:0px;
  margin-bottom: 15px;
  font-weight: 700;
}
audio, canvas, progress, video {
  vertical-align: middle;
}
audio {
  display: none;
}
a {
  cursor: pointer;
}
img {
  border-radius: 100%;
}
#countdown {
  font-weight: 300;
  font-size:100px;
  font-family: avenir;
  line-height: 60px;
  display: block;
  padding-bottom: 30px;
}
.clock {
  font-weight: 300;  
}
.panel {
  /*border:1px solid #fff;*/
  padding: 30px;
  border-radius: 15px;
  background: rgba(25,47,82,1);
}
#mainView, #alarmMusicView, #menuView, #playlistView {
  background-color: rgba(0,0,0,0.2);
  padding-top: 30px;
  padding-bottom: 30px;
}
.media-object {
  width:100px;
}
.nowPlaying {
  color: #000;
  font-size: 12pt;
  width:80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 4px;
  padding:20px;
}
.navButton {
  border: 2px solid rgba(255,255,255,.9);
  background-color: transparent;
  color: #fff;
  padding:8px;
  width:150px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 11pt;
  letter-spacing: 2pt;
}
.navButton .glyphicon {
  font-size:10pt;
}
.navButton:hover {
  background-color: #fff;
  color:rgba(25,47,82,1);  
}

#playlist {
  color:#000;
}
#logo {
  font-size: 30pt;
}
#navbar {
  padding: 20px 0px 5px 0px;
  background-color:transparent;
}
#maincontainer {
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fafafa;
}
#contentcontainer{ 
  width:75%;
}

.inner-addon {
  color: #000000;
  position: relative;
  text-align: left;
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.playlistImg {
  width:100px;
  margin-right:8px;
  border-radius: 100%;
  display: inline-block;
}
.play {
  font:14px 'Montserrat', sans-serif;
  font-weight: 400;
  color: #ffffff;
  width: 190px;
  padding:5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  display: inline-block;
  text-align: center;
  margin-top:5px;
}
.openinspotify, .openinspotify:visited {
  font:14px 'Montserrat', sans-serif;
  font-weight: 400;  
  width: 190px;
  padding:5px;  
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  display: inline-block;
  text-align: center;
  margin-top:5px;
}
.musicplayer {
  font-size: 15px;
  padding: 15px;
  color:#000000;
  overflow: hidden;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.musicplayer div {
  display: table-cell;
  vertical-align: middle;
}
.musicplayer .albumcover {
  width:25%;
}
.musicplayer img {
  width:100%;
  border-radius: 100%;
}
.musicplayer .info {
  display: table-cell;
  padding-left: 5%;
}
.title {
  font: 20px 'Montserrat', sans-serif;
  margin-bottom: 5px;
}
.thumbnail img, .thumbnail video {
  width:100%;
  cursor: pointer;
}
.glyphicon-heart {
  color:#FF6666;
}
.memberCheck {
  padding-top: 16px;
  color:#ffffff;
}
ul {
  list-style: none;
  padding-left:0;
}
#editgroup li {
  padding:10px;
}
#groupList .glyphicon {
  visibility: hidden;
}
#groupList a:hover .glyphicon {
  visibility: visible;
  color:#555;
}
#groupList a .glyphicon:hover {
  color:#000;
}
#addToGroupList, #edituserlist {
  margin-bottom:0px;
}
.groupSmall {
  font-size: 12px;
  padding:5px 10px;
  line-height: 12px;
  border: 0px;
  border-radius: 0px;
}
.popover-content {
  padding-left: 0px;
  padding-right: 0px;
  width:170px;
}


